{% embed '@hc/page-builder.twig' %}

	{% block hero_component %}

		{% include '@hc/components/hero.twig' with {
			'section_class': 'hero-outer full solid',
			'hero_title': 'Password protected content',
		} %}
	{% endblock %}

	{% block breadcrumb %}
	{% endblock breadcrumb %}

	{% block main_content %}
		<div class="main-section" id="content">
			<div class="main-section" id="content">
				<div class="container">
					{{ function('get_the_password_form') }}
				</div>
			</div>
		</div>

	{% endblock main_content %}

{% endembed %}
