{% extends function('function_exists', 'get_permalink') ? '@wp/scaffolding/base.twig' : '@hc/scaffolding/base.twig' %}

{% set nav_section = 'Post' %}
{% set hc3_fe_body_class = "single-post" %}

{% block main %}
	{% block hero_component %}
		{% include '@hc/components/hero.twig' with {
			'section_class': 'hero-outer',
			'image': '/assets/images/holder-1920x1080.png',
			'hero_title': 'News/blog single post title',
			'date': 'yesterday',
		} %}
	{% endblock hero_component %}

	{% block breadcrumb %}
		{% include '@hc/partials/breadcrumbs.twig' with {
				'subnav': [
				{ 'text': 'Curabitur', 'url': '#', 'active_trail': 'true', 'submenu': [

					{ 'text': 'Parent page', 'url': '#', 'active': 'false', 'active_trail': 'true', 'submenu': [

						{ 'text': 'Grandchild page', 'url': '#', 'active': 'false', 'active_trail': 'true', 'submenu': [

							{ 'text': 'Great grandchild page', 'url': '#', 'active': 'true' }
						]},
					]},
				]}
				]
			}
		%}
	{% endblock breadcrumb %}

	{% block main_content %}
		<div class="main-section single" id="content">

			{% if side_share %}
				{% include '@hc/partials/main-share.twig' with {
					'share': true,
					'shares': [
						{
							'path': '#',
							'selector': 'twitter',
							'title': 'Twitter',
						},
						{
							'path': '#',
							'selector': 'facebook',
							'title': 'Facebook',
						},
						{
							'path': '#',
							'selector': 'instagram',
							'title': 'Instagram',
						},
						{
							'path': '#',
							'selector': 'linkedin',
							'title': 'LinkedIn',
						},
						{
							'path': '#',
							'selector': 'tiktok',
							'title': 'Tiktok',
						},
						{
							'path': '#',
							'selector': 'link',
							'title': 'Link',
						},
						{
							'path': '#',
							'selector': 'email',
							'title': 'Email',
						},
						]}
				%}
			{% endif %}

			{% include '@hc/components/wysiwyg.twig' with {
					'section_class': 'wysiwyg-outer with-sidebar',
					'post_summary': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eros leo, fermentum sit amet iaculis non, finibus nec lectus. Duis vel sapien ullamcorper turpis fermentum lacinia sit amet ut eros.',
					'headlines': [
						{ 'title': 'Lorem ipsum dolor sit amet, consectetur adipiscing.', 'url': '#/' },
						{ 'title': 'Lorem ipsum dolor sit amet, consectetur adipiscing.', 'url': '#/' },
					],
					'metadata': 'true',
					'wysiwyg_content_test': true,
					'accordions': [
						{
							'accordion_items': [
								{
									'image': '/assets/images/avatar-holder.png',
									'title': 'Author Name',
									'role': 'Author’s Role',
									'author_info': [
										{ 'title': 'joe@emailaddress.com', 'selector': 'mail', 'link': 'joe@emailaddress.com' },
										{ 'title': '@joeshandle', 'selector': 'twitter', 'link': 'https://twitter.com/@joeshandle' },
										{ 'title': 'joeshandle', 'selector': 'linkedin', 'link': '#/' },
										{ 'title': 'joesotherlink.com', 'selector': 'link', 'link': '#/' },
									]
								}
							]
						}
					],
					'date': 'today',
					'authors': [
						{ 'name': 'Author’s Name', 'url': '#/', 'role': 'Author’s role', 'email': 'name@email.com' }
					],
					'tag_title': 'About this update',
					'cats': [
						{ 'title': 'Type A', 'link': '#/' },
					],
					'tags': [
						{ 'title': 'Topic', 'link': '#/' },
					],
					'press_name': 'John Smith',
					'press_tel': '01632 960251',
					'press_email': 'email@email.com',
				}
			%}

			{% include '@hc/components/pullquote.twig' with {
				'section_class': 'pullquote-outer inline',
				'blockquote': 'Pullquote component add a quote mi tempus imperdiet nulla malesuada pellentesque elit eget egestas sed sed risus pretium quam',
				'attribution': 'With citation lorem ipsum, Dolor sit amet',
			} %}

			{% include '@hc/components/media-section.twig' with {
				'section_class': 'media-block-outer inline',
				'image': '/assets/images/holder-530x920.png',
				'caption': 'Inline image component',
			} %}

			{% include '@hc/components/cards.twig' with {
				'section_class': 'cards-outer secondary mob-slider',
				'title': 'Feature promo component',
				'summary': 'Use this component to create rows of three promos specifically to present subpage or related content.',
				'header_link': 'Button',
				'header_link_path': '#',
				'cards': [
					{
						'path': '/page-builder',
						'image': '/assets/images/holder-530x920.png',
						'title': 'Nullam congue tempor faucibus',
						'summary': 'Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.',
						'button': 'Button',
					},
					{
						'path': '/page-builder',
						'image': '/assets/images/holder-530x920.png',
						'title': 'Maecenas sed diam risus varius blandit sit amet',
						'summary': 'Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius.',
						'button': 'Button',
					},
					{
						'path': '/page-builder',
						'image': '/assets/images/holder-530x920.png',
						'title': 'Cras justo odio dapibus ac facilisis in',
						'summary': 'Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam.',
						'button': 'Button',
					}
				]}
			%}

		</div>
	{% endblock main_content %}

{% endblock main %}
