{# Embedding news/single.twig as there isn't a dedicated resources/single.twig in FE currently #}

{% embed '@hc/news/single.twig' %}

	{% block hero_component %}
		{% include '@hc/components/hero.twig' with {
			'section_class': 'hero-outer',
			'image_data': get_image_data( post.meta('hero_section').hero_image, 'hero_image' ),
			'hero_title': post.title|e('esc_html'),
			'hero_summary': post.meta('hero_section').hero_summary|e('wp_kses_post'),
			'link_copy': post.meta( 'hero_section' ).hero_button.title|e('esc_html'),
			'link_path': post.meta( 'hero_section' ).hero_button.url|e('esc_url'),
			'link_target': post.meta( 'hero_section' ).hero_button.target|e('esc_html')
		} %}

	{% endblock hero_component %}

	{% block breadcrumb %}
		{% include '@wp/partials/cpt-breadcrumbs.twig' with {
			'subnav': subnav
		} %}
	{% endblock breadcrumb %}

	{% block main_content %}
		<div class="main-section single" id="content">
			{% include '@hc/components/wysiwyg.twig' with {
				'section_class': 'wysiwyg-outer with-sidebar',
				'wysiwyg_content': post.meta('content')|e('wp_kses_post'),
				'post_summary': post.meta('key_points')|e('wp_kses_post'),
				'metadata': 'true',
				'accordions': [
					{
						'accordion_items': library_sidebar.accordion_items
					}
				],
				'smartDate': post.meta('year_published'),
				'share_title': 'Share',
				'postshares': postshares,
				'tag_title': 'About this library item',
				'cats':library_sidebar.cats,
				'tags': library_sidebar.tags,
				'press_intro': library_sidebar.press_intro,
				'press_tel': library_sidebar.press_tel,
				'press_email': library_sidebar.press_email,
				'postdownloads': library_sidebar.postdownloads,
			}%}


			{{ post.content }}

		</div>
	{% endblock main_content %}

{% endembed %}
