<nav role="navigation" aria-label="Pagination Navigation">
  <ul class="pagination">
      <li class="pagination_block prev">
          <a href="#" class="pagination_element prev" aria-label="Go to previous page">Previous</a>
      </li>
      <li class="pagination_block numeral">
          <a href="#" class="pagination_element numeral" aria-label="Go to Page 1">1</a>
      </li>
      <li class="pagination_block numeral">
          <a href="#" class="pagination_element numeral current" aria-label="Current page, Page 2" aria-current="true">2</a>
      </li>
      <li class="pagination_block numeral">
          <a href="#" class="pagination_element numeral" aria-label="Go to Page 3">3</a>
      </li>
      <li class="pagination_block numeral">
          <a href="#" class="pagination_element numeral" aria-label="Go to Page 4">4</a>
      </li>
      <li class="pagination_block numeral">
          <a href="#" class="pagination_element numeral" aria-label="Go to Page 5">5</a>
      </li>
      <li class="pagination_block next">
          <a href="#" class="pagination_element next" aria-label="Go to next page">Next</a>
      </li>
      <li class="pagination_block view_all">
          <a href="#" class="pagination_element view_all" aria-label="View all pages">View all</a>
      </li>
  </ul>
</nav>