{% extends '@hc/scaffolding/base.twig' %}

    {% set main_title = "Oops! Something went wrong" %}

    {% block main %}
    	
    	<section class="section">
    		<div class="container">
    			<p>The page you're looking for has moved or never existed.</p>
    		</div>
    	</section>
    
    {% endblock main %}

