
{# Dialog modal popup hidden until Safari supports it #}
{# <button class="open-button button">Open Dialog</button>

{% include '@hc/components/modal.twig' with {
		'title': 'Dialog modal popup',
		'summary': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
		'button_title': 'Button',
		'button_title_path': '#',
	}
%} #}

<p>Use this to add additional WYSIWYG between other components within the body content. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

<p>Fusce dapibus, <em>tellus ac cursus commodo</em>, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. <a href="#">Cras justo odio, dapibus ac facilisis</a> in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum.</p>

<h2>Heading two nullam quis risus eget urna mollis</h2>

<h3>Heading three nullam quis risus eget urna mollis</h3>

<h4>Heading four example</h4>

<h5>Heading five example</h5>

<h6>Heading six cum sociis natoque penatibus et magnis dis parturient montes</h6>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <strong>sed do eiusmod tempor incididunt</strong> ut labore et dolore magna aliqua. Ut enim blandit volutpat maecenas volutpat blandit aliquam. Tristique nunc. Ut sem nulla pharetra diam sit amet nisl suscipit sed turpis tincidunt id ali adipiscing. A lacus vestibulum sed arcu non odio euismod lacinia. Id consectetur purus ut faucibus. Sagittis vitae et leo duis ut diam. Mauris ultrices eros in cursus. Ut eu sem integer vitae justo. <a href="">Condimentum id venenatis</a> a condimentum vitae. <a href="https://www.fatbeehive.com/" target="_blank">Ultricies lacus sed</a> turpis tincidunt id aliquet risus feugiat. Ullamcorper morbi tincidunt ornare massa. Eget nullam non nisi est sit amet. Eleifend in copy link sapien. Egestas diam in arcu cursus euismod quis. Nunc sed blandit libero volutpat sed cras. Platea dictumst quisque sagittis purus sit amet volutpat consequat. Libero id faucibus nisl tincidunt eget nullam non nisi.</p>

<p><a href="#" class="button">Button</a></p>

<hr>

<ul>
    <li>Aesthetics</li>
    <li>Epistemology</li>
    <li>Ethics
        <ol>
            <li>Meta-ethics</li>
            <li>Applied ethics</li>
            <li>Normative ethics</li>
        </ol>
    </li>
    <li>Logic
        <ul>
            <li>Meta-logic</li>
            <li>Applied logic</li>
            <li>Normative logic</li>
        </ul>
    </li>
    <li>Metaphysics</li>
</ul>

<ol>
    <li>Aesthetics</li>
    <li>Epistemology</li>
    <li>Ethics
        <ul>
            <li>Meta-ethics</li>
            <li>Applied ethics</li>
            <li>Normative ethics</li>
        </ul>
    </li>
    <li>Logic
        <ol>
            <li>Meta-logic</li>
            <li>Applied logic</li>
            <li>Normative logic</li>
        </ol>
    </li>
    <li>Metaphysics</li>
</ol>

<hr>

<table>
    <tr>
        <th>Top 1</th>
        <th>Top 2</th>
        <th>Top 3</th>
    </tr>
    <tr>
        <td>cell 1</td>
        <td>123.43</td>
        <td>cell 3</td>
    </tr>
    <tr>
        <td>cell 1</td>
        <td>2.2</td>
        <td>cell 3</td>
    </tr>
    <tr>
        <td>cell 1</td>
        <td>cell 2</td>
        <td>cell 3</td>
    </tr>
</table>

{# wordpress-gallery
<div id="gallery-1" class="gallery galleryid-3323 gallery-columns-3 gallery-size-medium">
    <dl class="gallery-item">
        <dt class="gallery-icon landscape">
            <a href="/assets/images/image-square-1.jpg"><img width="300" height="292"
                    src="/assets/images/image-square-1.jpg" class="attachment-medium size-medium"
                    alt="Lorem, ipsum dolor sit amet consectetur adipisicing elit." sizes="(max-width: 300px) 100vw, 300px"></a>
        </dt>
    </dl>
    <dl class="gallery-item">
        <dt class="gallery-icon landscape">
            <a href="/assets/images/image-square-2.jpg"><img width="300" height="266"
                    src="/assets/images/image-square-2.jpg" class="attachment-medium size-medium"
                    alt="Optio atque, impedit eaque aut dolorum sed reprehenderit blanditiis nesciunt nam culpa minus saepe, id ea neque qui molestiae laborum quod cum!" sizes="(max-width: 300px) 100vw, 300px"></a>
        </dt>
    </dl>
    <dl class="gallery-item">
        <dt class="gallery-icon landscape">
            <a href="/assets/images/image-square-3.jpg"><img width="300" height="225"
                    src="/assets/images/image-square-3.jpg" class="attachment-medium size-medium"
                    alt="Lorem, ipsum dolor sit amet consectetur adipisicing elit." sizes="(max-width: 300px) 100vw, 300px"></a>
        </dt>
    </dl><br style="clear: both">
    <dl class="gallery-item">
        <dt class="gallery-icon portrait">
            <a href="/assets/images/image-square-1.jpg"><img width="225" height="300"
                    src="/assets/images/image-square-1.jpg" class="attachment-medium size-medium" alt=""
                    sizes="(max-width: 225px) 100vw, 225px"></a>
        </dt>
    </dl>
    <dl class="gallery-item">
        <dt class="gallery-icon landscape">
            <a href="/assets/images/image-square-2.jpg"><img width="300" height="225"
                    src="/assets/images/image-square-2.jpg" class="attachment-medium size-medium"
                    sizes="(max-width: 300px) 100vw, 300px"
                    alt="Optio atque, impedit eaque aut dolorum sed reprehenderit blanditiis nesciunt nam culpa minus saepe, id ea neque qui molestiae laborum quod cum!"></a>
        </dt>
    </dl>
    <dl class="gallery-item">
        <dt class="gallery-icon landscape">
            <a href="/assets/images/image-square-3.jpg"><img width="300" height="169"
                    src="/assets/images/image-square-3.jpg" class="attachment-medium size-medium" alt=""
                    sizes="(max-width: 300px) 100vw, 300px"></a>
        </dt>
    </dl><br style="clear: both">
</div> #}
