
<div class="page-nav">
	<h2 class="page-nav-title">{{ page_nav_title }}</h2>
	{% for page_nav_item in page_nav_items %}
		<div class="page-nav-block"><a href="#{{ page_nav_item.id }}">{{ page_nav_item.title }}</a></div>
	{% endfor %}
</div>
